<!-- in order to have syntax you need to download ejs-in visual studio
 ! and click enter: basic html for you  -->

 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Web Application</title>
 </head>
 <body>
     <div>
        <h1>Web Application</h1>
        <p>A Web Application for PD (Parkinson's disease) patients, researchers and physicians.</p>
    </div>

    <div class="container">
        dashboard page
        
      </div>
      
      <div>
        
      </div>
 </body>
 </html>