<!-- Data field for researcher and docs -->

            <br></br>
            <span>Data field</span>
            <br></br>

   <!-- Script that handles functionality -->
   <script type="module" src=""></script>
