<!-- Login page: Authentication using Google/Facebook/GitHub -->

 <!DOCTYPE html>
 <html lang="en">
 <head>
    <link href="/styles/style.css" rel="stylesheet" type="text/css">
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Web Application for PD patients, resarchers and physicans: Sign in</title>
 </head>
 <body>
    <div class="content">
        <div>
            <h1>Web Application</h1>
            <p>A Web Application for PD (Parkinson's disease) patients, researchers and physicians.</p>
        </div>

        <div>
            <h2>Select authentication method:</h2>
        </div>

        <!-- Authentication using Google/Facebook/GitHub -->
        <a class="google_button" href="/auth/google">Google</a>
        <br></br>

        <a class="github_button" href="/auth/github">GitHub</a>
        <br></br>
        
        <a class="facebook_button" href="/auth/facebook">Facebook</a>

        <br></br>
    </div>
 </body>
 </html>