<!-- Page for the RSS feed (Does not work) -->

 <!DOCTYPE html>
 <html lang="en">
 <head>
    <link href="/styles/style.css" rel="stylesheet" type="text/css">
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Web Application for PD patients, resarchers and physicans: RSS feed</title>
 </head>
 <body>
    <div class="content">

        <!-- Here the RSS feed should be rendered -->
        
    </div>

    <!-- This script should handle the rendering of the RSS page -->
    <script src="./scripts/rss.js"></script>
    
 </body>
 </html>