<!-- Index page -->

<!DOCTYPE html>
<html lang="en">
<head>
   <link href="/styles/style.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="196608064196-f6vrd19frijr63opnp8bp39ivomagm50.apps.googleusercontent.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Application for PD patients, resarchers and physicans: Patient page</title>
</head>
<body>
    <div class="youtubecontent">
        <div>
            <h1>Web Application: Patient page</h1>
            <p>Welcome Patient!</p>
            <iframe width="560" height="315" 
            src="https://www.youtube.com/embed/3pWygayS7e8" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/MmWmhIwe5BI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/-rhduQKCWOw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
            <iframe width="560" height="315" src="https://www.youtube.com/embed/GLHdcTd8fmA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/URy6AMJUwII" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</body>
</html>