<!-- Videos page: List of YouTube-videos for the patient -->

        <div id="youtubecontent">

            <!-- List YouTube videos -->
            <iframe width="500" 
            height="315" 
            src="https://www.youtube.com/embed/3pWygayS7e8" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>

            <iframe width="500" 
            height="315" 
            src="https://www.youtube.com/embed/MmWmhIwe5BI" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>

            <iframe width="500" 
            height="315" 
            src="https://www.youtube.com/embed/-rhduQKCWOw" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
        
            <iframe width="500"
            height="315" 
            src="https://www.youtube.com/embed/GLHdcTd8fmA" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>

            <iframe width="500" 
            height="315" 
            src="https://www.youtube.com/embed/URy6AMJUwII" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
        </div>
