<!-- Videos page: List of YouTube-videos for the patient -->

<!DOCTYPE html>
<html lang="en">
<head>
   <link href="/styles/style.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Application for PD patients, resarchers and physicans: Videos</title>
</head>
<body>
    <div class="content">
        <!-- Log out functionality could be implemented in the future -->
        <a class="logoutButton" href="/">Sign out</a>

        <div id="youtubecontent">
            <h1>Web Application</h1>

            <!-- Show the role of the user using a global variable with the username -->
            <span>Welcome <span id="Rolename">patient</span>!</span>

            <!-- List YouTube videos -->
            <iframe width="500" 
            height="315" 
            src="https://www.youtube.com/embed/3pWygayS7e8" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>

            <iframe width="500" 
            height="315" 
            src="https://www.youtube.com/embed/MmWmhIwe5BI" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>

            <iframe width="500" 
            height="315" 
            src="https://www.youtube.com/embed/-rhduQKCWOw" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
        
            <iframe width="500"
            height="315" 
            src="https://www.youtube.com/embed/GLHdcTd8fmA" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>

            <iframe width="500" 
            height="315" 
            src="https://www.youtube.com/embed/URy6AMJUwII" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
        </div>
    </div>
</body>
</html>