/* Style.css: Styling for the web application */

/* Containers */
body {
  background: rgb(39, 53, 54);
}

.content {
  max-width: 80%;
  margin: auto;
  background: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  position: relative;
}

.youtubecontent {
  max-width: 800px;
  background: white;
  text-align: center;
  border-radius: 5px;
}

div {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

/* Text */

h1 {
  color: rgb(24, 34, 34);
  text-align: center;
  font-family: 'Helvetica';
}

h2 {
  font-family: 'Helvetica';
}

p, span {
  text-align: center;
  font-family: 'Helvetica';
}

.a {
  display: block;
  width: 100px;
  margin: auto;
}

/* Tables */

.data-table, th, td {
  border: 1px solid;
  text-align: center;
  font-family: 'Helvetica';
  margin-left:auto; 
  margin-right:auto;
}

/* Buttons */

button {
  background-color: #4c8eaf;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
}

.databutton {
  border-radius: 15px;
}

.databutton:link, .databutton:visited {
  background-color: #4c8eaf;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
}

.databutton:hover, .databutton:active {
  background-color: #668878;
}

.logoutButton:link, .logoutButton:visited {
  position: absolute;
  left:2px;
  top:2px;
  font-family: 'Helvetica';
  border-radius: 15px;
  background-color: rgb(49, 54, 69);
  color: white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.logoutButton:hover, .logoutButton:active {
  background-color: rgb(90, 99, 126);
}

.my_button{
  font-family: 'Helvetica';
  border-radius: 15px;
}

.my_button:link, .my_button:visited {
  background-color: #353c44;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.my_button:hover, .my_button:active {
  background-color: #668878;
}

.menu_button{
  font-family: 'Helvetica';
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 0px 10px;
  word-wrap: normal;
  display: inline-block;
}

.menu_button:link, .menu_button:visited {
  background-color: #353c44;
  color: rgb(27, 173, 98);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0px 10px;
  word-wrap: normal;
  display: inline-block;
  text-decoration: underline rgb(27, 173, 98);
}

.menu_button:hover, .menu_button:active {
  color: rgb(8, 71, 28);
  padding: 0px 10px;
  word-wrap: normal;
  display: inline-block;
  text-decoration: underline rgb(8, 71, 28);
}

#menu_button_videos{
  font-family: 'Helvetica';
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 0px 10px;
  word-wrap: normal;
  display: inline-block;
  text-decoration: underline;
  text-decoration-color: rgb(255, 255, 255);
}

#menu_button_data{
  font-family: 'Helvetica';
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 0px 10px;
  word-wrap: normal;
  display: inline-block;
  text-decoration: underline;
  text-decoration-color: rgb(27, 173, 98);
}

#menu_button_videos:link, #menu_button_videos:visited, #menu_button_data:link, #menu_button_data:visited {
  background-color: #353c44;
  color: rgb(27, 173, 98);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0px 10px;
  word-wrap: normal;
  display: inline-block;
  text-decoration: underline rgb(27, 173, 98);
}

#menu_button_videos:hover, #menu_button_videos:active, #menu_button_data:hover, #menu_button_data:active {
  color: rgb(8, 71, 28);
  padding: 0px 10px;
  word-wrap: normal;
  display: inline-block;
  text-decoration: underline rgb(8, 71, 28);
}

/* Buttons: Google, Github and Facebook */

.google_button {
  font-family: 'Georgia';
  border-radius: 15px;
}

.google_button:link, .google_button:visited {
  background-color: #DB4437;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.google_button:hover, .google_button:active {
  background-color: #0F9D58;
}

.github_button {
  font-family: 'Verdana';
  border-radius: 15px;
}

.github_button:link, .github_button:visited {
  background-color: #222428;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.github_button:hover, .github_button:active {
  background-color: #6e5494;
  color: #ffffff;
}

.facebook_button {
  font-family: 'Lucida Console';
  border-radius: 15px;
}

.facebook_button:link, .facebook_button:visited {
  background-color: #4267B2;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.facebook_button:hover, .facebook_button:active {
  background-color: #898F9C;
  color: #ffffff;
}

/* Diagrams */
path {
  fill: none;
  stroke:black;
  stroke-width:1px;
}